<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera permission -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Internet for ML Kit model downloads -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- For Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceIDApp"
        tools:targetApi="31">
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Enrollment Activity -->
        <activity
            android:name=".EnrollmentActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <!-- Verification Activity -->
        <activity
            android:name=".VerificationActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <!-- Database Activity -->
        <activity
            android:name=".DatabaseActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <!-- ML Kit Face Detection - Use bundled model (no download required) -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />
        
        <!-- Prevent automatic model downloading -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>
